Radiation/.ipynb_checkpoints/Planck Functions-checkpoint.ipynb
Radiation/.ipynb_checkpoints/Insolation-checkpoint.ipynb
Radiation/.ipynb_checkpoints/WiensLaw-checkpoint.ipynb
SatelliteOrbits/.ipynb_checkpoints/Terra's Orbit-checkpoint.ipynb
